<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg background-white p-0">
      <div class="container pt-2 pb-2">
        <!-- Logo -->
        <a class="navbar-brand" href="index.html"
          ><img src="img/Logo/logo.png" height="70" alt=""
        /></a>

        <div class="justify-content-end d-flex">
          <div class="d-flex d-lg-none align-items-center">
            <!-- Wishlist Icon -->
            <button type="button" class="btn border-0">
              <a
                href="wishlist.html"
                class="cart-btn-ic position-relative"
                title="wishlist"
              >
                <i class="text-color fas fas fa-heart"></i
                ><span
                  class="text-color position-absolute start-100 translate-middle-y wishlist-badge"
                  data-wishlist-badge="true"
                >
                  0
                  <span class="visually-hidden">Wishlist Items</span>
                </span>
              </a>
            </button>
            <!-- Add To Cart Icon -->
            <button type="button" class="btn border-0">
              <a href="cart.html" class="cart-btn-ic position-relative">
                <i class="text-color fas fa-shopping-cart"></i
                ><span
                  class="text-color position-absolute start-100 translate-middle-y"
                  cartitem-count="0"
                  data-cart-badge="true"
                >
                  0
                  <span class="visually-hidden">Cart Items</span>
                </span>
              </a>
            </button>
          </div>
          <!-- NavBar Toggle Btn -->
          <button
            class="navbar-toggler shadow-none border-0"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="text-dark fa-1x fa-solid fa-bars pt-1"></span>
          </button>
        </div>
        <!-- SideBar -->
        <div
          class="sidebar offcanvas offcanvas-start"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <!-- SideBar Header -->
          <div class="offcanvas-header border-bottom background-white">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
              <a class="navbar-brand" href="index.html"
                ><img src="img/Logo/logo.png" width="" height="70" alt=""
              /></a>
            </h5>
            <button
              type="button"
              class="btn-close shadow-none border-0 fa-solid fa-xmark"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <!-- SideBar Body -->
          <div
            class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0 background-white align-items-center"
          >
            <div
              class="row justify-content-center align-items-center w-100 pt-lg-2"
            >
              <div class="row col-lg-8">
                <form class="SearchBarContainer w-100">
                  <input
                    type="text"
                    name="text"
                    class="searchbarinput w-100"
                    id="searchbar"
                    placeholder="Search Product"
                    list="searchbarprolist"
                    autocomplete="off"
                  />
                  <datalist id="searchbarprolist"> </datalist>
                  <label for="searchbar" class="labelforsearch">
                    <i class="searchIcon fa-solid fa-magnifying-glass"></i>
                  </label>
                </form>
              </div>
              <div class="row pt-lg-3">
                <ul
                  class="navbar-nav justify-content-center align-items-start align-items-lg-center fs-5 flex-grow-1 px-3"
                >
                  <li class="nav-item mx-2">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      href="index.html"
                      >Home</a
                    >
                  </li>

                  <li class="nav-item mx-2">
                    <a class="nav-link" aria-current="page" href="about.html"
                      >About Us</a
                    >
                  </li>

                  <li class="nav-item mx-2">
                    <a class="nav-link" href="shop.html">Shop</a>
                  </li>

                  <li class="nav-item dropdown mx-2">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      aria-haspopup="true"
                    >
                      Furniture
                    </a>
                    <div
                      class="dropdown-menu mega-menu"
                      aria-labelledby="navbarDropdown"
                    >
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Living Room</a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Sofas"
                            >Sofas
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Chairs&Chaises"
                            >Chairs&Chaises
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Recliners"
                            >Recliners
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=TVStands"
                            >TV Stands
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=CoffeTables"
                            >Coffe Tables
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=End&SideTables"
                            >End&SideTables
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=BedroomsSets"
                            >BedroomsSets
                          </a>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Dining Room</a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=DiningRoomSets"
                            >Dining Room Sets
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Recliners"
                            >Recliners
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=DiningChairs"
                            >Dining Chairs
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Counter&BarStools"
                            >Counter & Bar Stools
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Buffets&SideBoards"
                            >Buffets & SideBoards
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Bars&Carts"
                            >Bars & Carts
                          </a>
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Accent Furniture
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Benches&Ottomans"
                            >Benches & Ottomans
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Shelves&StorageCabinets"
                            >Shelves & Storage Cabinets
                          </a>
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Home Office</a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Desks&Hutches"
                            >Desks & Hutches
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Office&GamingChairs"
                            >Office & Gaming Chairs
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=FilingCabinets"
                            >Filing Cabinets
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=BookCases"
                            >Book Cases
                          </a>
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Kids Teens</a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=BabyFurniture"
                            >Baby Furniture
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Kids&TeensFullBeds"
                            >Kids & Teens Full Beds
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=TwinsBeds"
                            >Twins Beds
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Chests&Dressers"
                            >Chests & Dressers
                          </a>
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Bedding & Decor </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Bedding"
                            >Bedding
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=AreaRugs"
                            >Area Rugs
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Decor&AccentCushions"
                            >Decor & Accent Cushions
                          </a>
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=WallArt&Clocks"
                            >Wall Art & Clocks
                          </a>
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Pillows&Shams"
                            >Pillows & Shams
                          </a>
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Lighting"
                            >Lighting
                          </a>
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Fans"
                            >Fans
                          </a>
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=HolidayDecor"
                            >Holiday Decor
                          </a>
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Shop By Brand</a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=Interwood"
                            >Interwood
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=ObsessionOutlet"
                            >Obsession Outlet
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=Habitt"
                            >Habitt
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=DolceVitaHome"
                            >Dolce Vita Home
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=luxelivinginteriors"
                            >Luxe Living Interiors
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=UrbanGalleria"
                            >Urban Galleria
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=HomeFactree"
                            >Home Factree
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=MalikFurniture"
                            >Malik Furniture
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>

                  <li class="nav-item dropdown mx-2">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      aria-haspopup="true"
                    >
                      Mattresses
                    </a>
                    <div
                      class="dropdown-menu mega-menu"
                      aria-labelledby="navbarDropdown"
                    >
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Mattresses Sets </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=KingSets"
                            >King Sets
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=QueenSets"
                            >Queen Sets
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=FullSets"
                            >Full Sets
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=TwinSets"
                            >Twin Sets
                          </a>
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Mattresses Only </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=KingSize"
                            >King Size
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=QueenSize"
                            >Queen Size
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=FullSize"
                            >Full Size
                          </a>
                        </li>
                      </ul>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Accessories</a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=BedFrames"
                            >Bed Frames</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Benches&Ottomans"
                            >Benches & Ottomans</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=MattressesProtectors"
                            >Mattresses Protectors</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Shelves&StorageCabinets"
                            >Shelves & Storage Cabinets</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=Pillows"
                            >Pillows
                          </a>
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Shop By Brand</a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=DuraFoam"
                            >DuraFoam</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=Master"
                            >Master</a
                          >
                        </li>

                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=AlkhairFoam"
                            >Alkhair Foam</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="brands.html?brand=DiamondSupremeFoam"
                            >Diamond SupremeFoam</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>

                  <li class="nav-item dropdown mx-2">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      aria-haspopup="true"
                    >
                      Outdoor
                    </a>
                    <div
                      class="dropdown-menu mega-menu"
                      aria-labelledby="navbarDropdown"
                    >
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Shop By Type</a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=OutdoorFurniture"
                            >Outdoor Furniture
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=OutdoorDecor"
                            >Outdoor Decor</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=FireTables&PatioHeaters"
                            >Fire Tables & Patio Heaters
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=BBQs&Coolers"
                            >BBQs & Coolers
                          </a>
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Shop By Collection
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=PolyLumber"
                            >Poly Lumber</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=NardiOutdoor"
                            >Nardi Outdoor</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="category.html?category=ArtisanIndoor-Outdoor"
                            >Artisan Indoor - Outdoor</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>

                  <li class="nav-item mx-2">
                    <a class="nav-link" href="compare.html">Compare</a>
                  </li>

                  <li class="nav-item mx-2">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-lg-flex d-none d-sm-none align-items-center px-4">
              <!-- Wishlist Icon -->
              <button type="button" class="btn border-0">
                <a
                  href="wishlist.html"
                  class="cart-btn-ic position-relative"
                  title="Wishlist"
                >
                  <i class="text-color fas fas fa-heart"></i
                  ><span
                    class="text-color position-absolute start-100 translate-middle-y wishlist-badge"
                    data-wishlist-badge="true"
                  >
                    0
                    <span class="visually-hidden">Wishlist Items</span>
                  </span>
                </a>
              </button>
              <!-- Add To Cart Icon -->
              <button type="button" class="btn border-0">
                <a
                  href="cart.html"
                  class="cart-btn-ic position-relative"
                  title="Cart"
                >
                  <i class="text-color fas fa-shopping-cart"></i
                  ><span
                    class="text-color position-absolute start-100 translate-middle-y"
                    cartitem-count="0"
                    data-cart-badge="true"
                  >
                    0
                    <span class="visually-hidden">Cart Items</span>
                  </span>
                </a>
              </button>
            </div>
            <!-- Signup Button -->
            <!-- Large Devices -->
            <div
              class="d-none d-lg-flex align-items-center justify-content-center"
            >
              <button
                class="btn-signup"
                id="loginButton"
                onclick="window.location.href='login.html';"
              >
                <span>Log In</span>
              </button>
              &nbsp; &nbsp; &nbsp;
              <button class="btn-signup" onclick="headerBtn()">
                <span id="authText">Sign Up</span>
              </button>
            </div>
            <!-- Medium Devices -->
            <div class="mt-auto d-lg-none d-flex">
              <button
                class="btn-signup"
                id="loginButtonMob"
                onclick="window.location.href='login.html';"
              >
                <span>Log In</span>
              </button>
              &nbsp;&nbsp;&nbsp;
              <button class="btn-signup" onclick="headerBtn()">
                <span id="authText">Sign Up</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Whatsapp Button Start -->

    <a href="https://wa.me/+923243416388" class="whatsapp-icon" target="_blank">
      <i class="fab fa-whatsapp"></i>
    </a>

    <!-- Whatsapp Button End -->
  </body>
</html>
